aiohttp==3.8.6
aiosignal==1.3.1
asgiref==3.6.0
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.3
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
cryptography==39.0.2
distlib==0.3.7
-e git+https://github.com/django/django.git@9953c804a9375956a542da94665662d306dff48d#egg=Django
filelock==3.12.3
Flask==3.0.0
frozenlist==1.4.0
google-ads==20.0.0
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
grpcio==1.51.3
grpcio-status==1.51.3
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
oauthlib==3.2.2
openai==0.28.1
platformdirs==3.10.0
proto-plus==1.22.2
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==23.0.0
python-dotenv==1.0.0
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
soupsieve==2.5
sqlparse==0.4.3
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==1.26.14
virtualenv==20.24.3
Werkzeug==3.0.0
yarl==1.9.2
