<!DOCTYPE html>
<html>
<head>
    <title>Web Crawler and Instagram Post Generator</title>
</head>
<body>
    <h1>Web Crawler and Instagram Post Generator</h1>
    <form id="urlForm">
        <label for="urlInput">Enter a URL:</label>
        <input type="text" id="urlInput" name="urlInput" value="http://bbc.co.uk" placeholder="https://example.com" required>
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
</body>

<script type="text/javascript">
    


document.getElementById('urlForm').addEventListener('submit', async function (event) {
    event.preventDefault();
    const url = document.getElementById('urlInput').value;

    // Fetch the URL content
    try {
        const resultDiv = document.getElementById('result');
        resultDiv.innerHTML = "";

        const response = await fetch(`/crawl?url=${url}`);
        const data = await response.json();

        if (data.success) {
            // Display the extracted text content
            
            resultDiv.innerHTML = `<h2>Extracted Text:</h2><p>${data.text}</p>`;
            
            // Generate Instagram post content using ChatGPT API
            const instagramContent = await generateInstagramContent(data.text);

            resultDiv.innerHTML += `<h2>Instagram Post Content:</h2><p>${instagramContent.content}</p>`;
            resultDiv.innerHTML += `<h2>Instagram Post Hashtag:</h2><p>${instagramContent.hashtags}</p>`;
            resultDiv.innerHTML += `<h2>Instagram Post Location:</h2><p>${instagramContent.locations}</p>`;
            resultDiv.innerHTML += `<h2>Instagram Post Users:</h2><p>${instagramContent.users_to_tag}</p>`;


        } else {
            alert('Error: Unable to crawl the URL.');
        }
    } catch (error) {
        alert('An error occurred while processing the request.');
        console.log(error);
    }
});

async function generateInstagramContent(text) {
    //console.log(text)
    // Call the ChatGPT API to generate Instagram post content using the extracted text
    const response = await fetch('/generate-instagram-content', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ text }),
    });

    const data = await response.json();
    return data;
}

</script>

</html>
